#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		domain: misak113.avantcore.cz
		database:
			driver: mysql
			host: 
			dbname: misak113_avantcore_cz
			user: root
			password: 


		computers:
			samuel: #Samuel
				mac: "90:2B:34:12:09:32"
				ip: "192.168.1.215"
				forwardPort: 8085
			kate: #Káťa Wifi
				mac: "D0:DF:9A:53:E3:99"
				ip: "192.168.1.234"
				forwardPort: 8089
			routerRemote: # Vzdálený přístup router
				mac: ""
				ip: "misak113.avantocre.cz"
				forwardPort: 
			test:
				mac: ""
				ip: "www.google.com"
				forwardPort:


		users:
			misak113:
				id: 1
				name: Michael Žabka
				password: e3f013022003933ec0f00eb8fb46f06441109435
				role: admin

	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%


	services:
		database: @Nette\Database\Connection

		authenticator: Misak\Model\Authenticator()


# Models
		netModel: Misak\Model\NetModel


	factories:


production < common:
	parameters:
		database:
			host: 192.168.1.215
			password: cvpp7mdz

development < common:
	parameters:
		database:
			host: localhost
			password: misak
